.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 2rem;
}

input,
button,
textarea,
select {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem; ;
  outline: none;
}


